[Unit]
Description=WireBusOS Initial Boot Setup Service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/wirebus/wirebus-first-boot.sh
RemainAfterExit=yes
TimeoutStartSec=120
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target

